.header_container{
    background-color: #404eed;
    min-height: 626px;
    position: relative;
    overflow: hidden;
}

.back_foregroundImages{
    z-index: 0;
}

.center_background_image{
    left: 50%;
    z-index: 0;
    margin-left: -1280px;
    position: absolute;
    bottom: 0;
    top: auto;
}

.left_foreground{
    width: 100%;
    margin-left: -365px;
    max-width: 880px;
    position: absolute;
    z-index: 1;
    display: block;
    bottom: 0;
}

.middlePart{
    color: #ffffff;
    margin-top: 100px;
    z-index: 1;
}

.heading{
    font-weight: 800;
    font-size: 56px;
    line-height: 95%;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 18px;
    margin-bottom: 30px;
}

.buttons_row{
    margin-top: 60px;
}

.right_foreground{
    width: 100%;
    margin-left: 245px;
    max-width: 880px;
    position: absolute;
    z-index: 1;
    display: block;
    bottom: 0;
    left: 50%;
}

.middle_para{
    font-size: 18px;
    margin-top: 50px;
}

.header_btn{
    z-index: 1;
}

#download_btn:hover{
    color: #5865f2;
}
#open_btn:hover{
    background-color: #2f3136;
}