.login_background{
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-size: cover;
}
.login_box{
    background-color: #2f3136;
}
.login_left{
    margin: 20px 10px;
    padding: 0px 30px;
}
.login_right{
    margin: 50px 0px 50px 4px;
}

.login_heading{
    font-weight: 600;
}

.muted_text{
    color: #8e9297;
    font-size: 16px;
}

.labels{
    font-size: 13px;
    font-weight: 600;
    color: #8e9297;
}

input {
    background-color: #23272a;
}

.link{
    color: #00b0f4;
    font-size: 14px;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
    color: #00b0f4;
}
.needAccount{
    font-size: 14px;
    color: #72767d;
}
.form_input{
    background-color: #292b2f;
    color: #ffffff;
}
.submit_button{
    background-color: #5865f2;
    color: #ffffff;
    font-size: 15px;

}

.submit_button:hover{
    background-color: #404eed;
    color: #ffffff;
}

.qr_down{
    margin-top: 40px; 
}

.qr_heading{
    font-weight: 600;
    font-size: 23px;
}
.qr_para{
    color: #8e9297;
    font-size: 15px;
}