.dashboard{
    z-index: 0;
}

.active{
    background-color:  #4f545c;
}
.active:hover{
    background-color: #4f545c;
}

.navs{
    padding: 4px 5px;
    border-radius: 4px;
}

.navs:hover{
    background-color: #4f545c;
}

.nav_middle_link:hover{
    text-decoration: none;
}

.middle_row_content{
    height:calc()
}
